<!DOCTYPE html>
<html>

<head>
    <% include navi/head %>
</head>

<body class="container">
    <% include navi/header %>
    <div>
            <a class="navbar-brand" href="/">
                <img src="../public/images/escan.png" alt=""> 
            </a>  
    </div>

    
    로그인
    <form action = '/auth/auth_process' method = 'post'>
        <a><input type = "text" name = "id" placeholder = "ID 입력"></a>
        <a><input type = "password" name = "password" placeholder = "password 입력"></a>
        
        <input type = "submit">
    </form> 
    

</body>

</html>
