<!DOCTYPE html>
<html>

<head>
    <% include navi/head %>
</head>

<body class="container">
    <% include navi/header %>
    <div>
            <a class="navbar-brand" href="/">
                <img src="../public/images/escan.png" alt=""> 
            </a>  
    </div>

     <div>
        <%- statusUI -%>

    </div>


</body>

</html>
