<div>
    <header class="navbar navbar-expand navbar-dark flex-colum flex-md-row bd-navbar"
        style="box-shadow: 0.0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.01);">
        <a class="navbar-brand" href="/">
            <img src="../public/images/escan.png" width="" height="40" alt="" class="d-block">
        </a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a href="#" class="nav-link" style="color:#1D6A96;">BMILL차트</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" style="color: #1D6A96;">최신음악</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" style="color: #1D6A96;">장르음악</a>
                </li>
            </ul>
        </div>
        
    </header>
</div>